## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

# Compiled Dirs
bundle.js
bundle-server.js

# API Keys
config.js

# Docker
dockerfile

# Artillery
artillery.yaml

#new relic
newrelic.js
newrelic_agent.log
